@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.activity-form-page { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-top: 69px;
}

.activity-box-box {
    display: flex;
    align-items: center;
    width: 85%;
    max-width: 1040px;
    justify-content: space-evenly;
}

.activity-form-map { 
    width: 532px;
    height: 532px;
    background-color: rgb(221, 198, 168);
}

.activity-form {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    justify-content: space-between;
}

.activity-input-container { 
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.activity-form-label { 
    font-family: 'Josefin Sans', cursive;
    font-size: 24px;
}

.activity-input-field { 
    border: none;
    border-left: 2px solid #EF8354;
    background-color: #ef825414;
    padding: 5px;
    font-size: 16px;
    resize: none;
    border-radius: 0px 4px 4px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.activity-input-field:focus { 
    outline: none;
}

.form-dropdown {
    border: none;
    background-color: #ef825414;
    font-size: 16px;
    width: fit-content;
}

.original-values { 
    font-family: 'Josefin Sans', cursive;
    padding-top: 3px;
    font-size: 16px;
}

.submit-activity { 
    cursor: pointer;
    border: none;
    background-color: #2D3142;
    color: #EF8354;
    border-radius: 25px;
    height: 25px;
    width: 60%;
    align-self: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.submit-activity-faded { 
    pointer-events: none;
    border: none;
    background-color: rgba(45, 49, 66, 0.37);
    color: #ffffff3b;
    border-radius: 25px;
    height: 25px;
    width: 60%;
    align-self: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.activity-form-spinner { 
    display: flex;
    justify-content: center;
    width: 100%;
}

.time-date-input { 
    border: none;
    outline: none;
    border-left: 2px solid #EF8354;
    background-color: #ef825414;
    padding: 5px;
    font-size: 16px;
    resize: none;
    border-radius: 0px 4px 4px 0px;
    width: fit-content;
}

.find-form-button { 
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #EF8354;
    border-radius: 25px;
    width: 100px;
    padding-top: 3px;
}

.form-buttons-container { 
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.cancel-form-button { 
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #cccccc;
    border-radius: 25px;
    height: 25px;
    width: 30%;
    align-self: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    outline: none;
}

.cancel-form-button:hover { 
    color: #ff6a6a;
}

/* #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      } */

@media only screen and (max-width: 768px) { 
    .activity-box-box { 
        flex-direction: column-reverse;
    }

    .activity-form-map { 
        margin-top: 30px;
        width: 100%;
        height: 85vw;
    }

    .activity-form { 
        width: 100%;
    }
}