@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@531&display=swap");
/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); */

.activity-show-page { 
    margin-top: 69px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.activity-show-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.show-page-title { 
    font-size: 48px;
    color: var(--dark-gray-color);
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 15px;
    align-self: center;
    text-align: center;
}

.show-page-description { 
    font-family: sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
    color: var(--armor-gray-color);
    width: 600px;
    align-self: center;
    text-align: center;
}

.show-page-details { 
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 4px solid var(--orange-color);
}

.show-page-numamountplayers,
.show-page-numplayersneed,
.show-page-location { 
    font-family: 'Josefin Sans', cursive;
    margin-bottom: 10px;
}

.show-page-sport { 
    font-family: 'Josefin Sans', cursive;
    /* margin-bottom: 10px; */
}

.unsubscribe-button { 
    margin-bottom: 10px;
    border: none;
    color: var(--light-gray-color);
    font-size: 16px;
    outline: none;
    cursor: pointer;
    height: 35px;
}

.subscribe-button { 
    margin-bottom: 10px;
    border: none;
    color: var(--orange-color);
    font-size: 16px;
    outline: none;
    cursor: pointer;
    background-color: var(--dark-gray-color);
    border-radius: 25px;
    height: 35px;
    width: 110px;
}

.show-buttons { 

}

.owned-activity-button { 
    border: none;
    background: none;
    padding-bottom: 10px;
    cursor: pointer;
    outline: none;
    margin: 0px 10px;
}

.edit { 
    color: var(--dark-gray-color);
}

.edit:hover { 
    color: var(--orange-color);
}

.delete { 
    color: #ff7575;
}

.delete:hover { 
    color: var(--dark-gray-color);
}

.activity-show-map { 
    width: 100%;
    height: 600px;
    background-color: aquamarine;
}

@media only screen and (max-width: 768px) { 
    .activity-show-container { 
        width: 80%;
    }

    .show-page-description { 
        width: 100%;
    }

    .activity-show-map { 
        height: 80vw;
    }
}