.activity-index {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border: 2px solid #EF8354; */
    width: 350px;
}

.activity-index-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.activity-title {
    font-family: 'Ramabhadra', sans-serif;
    font-size: 30px;
    padding-bottom: 50px;
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
}

.activity-date {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    color: #EF8354;
    margin-bottom: 5px;
}

.activity-description {
    font-family: 16px;
}