.outer-div-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-top-header {
    /* border-bottom: 1px solid; */
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EF8354;
    width: 100%;
    margin-bottom: 30px;
}

.dashboard-top-header > h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    color: black;
    padding-top: 100px;
    margin-bottom: 40px;
}

.dashboard-top-header-img {
    border-bottom: 1px;
}

.event-category {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
    /* border-bottom: 1px solid black */
}

.event-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-item > span {
    padding-right: 10px;
}

.event-img {
    width: 200px;
    border-radius: 10px;
    margin-right: 13px;
    transition: transform .2s;
}

.event-img:hover {
    transform: scale(1.1);
}

.event-date {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: bold;
    color: #EF8354;
    margin-bottom: 5px;
}

.event-title {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: bold;
    color: grey;
    width: 200px;
    text-align: center;
}

.event-items > img{
    width: 200px;
    border-radius: 10px;
    margin-right: 13px;
    transition: transform .2s;
}

.event-items > img:hover {
    transform: scale(1.1);
}

.event-category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1050px;
    font-family: 'Ramabhadra', sans-serif;
    font-size: 35px;
    padding-bottom: 50px;
}

.event-items {
    display: flex;
}

.see-all {
    font-family: 'Work Sans';
    text-decoration: none;
    font-size: 15px;
    color: black;
    transition: .2s;
}

.see-all:hover {
    color: #EF8354;
}
