@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@531&display=swap");

.footer-container {
    background-color: var(--dark-gray-color);
    width: 100%;
    overflow: hidden
}

.footer { 
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    max-width: 1500px;
    justify-content: center;
    margin: 0 auto;
}

.huddleUP-repo { 
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 10px 0px;
}

.huddleUP-icon { 
    font-size: 48px;
    color: var(--orange-color);
}

.engineers-contacts-container { 
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.contact-info-container { 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.engineer-name { 
    color: white;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.symbol-icons-box { 
    padding-top: 8px;
    display: flex;
}

.symbol-icons-box a {
    padding: 5px;
}

.footer-icon { 
    font-size: 26px;
    color: var(--orange-color);
}

@media only screen and (max-width: 667px) { 
    .engineers-contacts-container {
        display: flex;
        flex-wrap: wrap;
    }

    .engineers-contacts-container > div {
        flex: 0 50%;
        box-sizing: border-box;
        padding: 10px;
    }

}
