@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@531&display=swap");
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.auth-form-page { 
    background-color: #f0f0f0;
    /* background-color: #FFFFFF; */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form-container { 
    width: 480px;
    background-color: #FFFFFF;
    padding: 0px 0px 20px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;

    box-shadow: 0px 0px 8px #00000026;
}

.auth-close-button { 
    align-self: flex-end;
    font-size: 34px;
    color: #4F5D75;
}

.auth-close-button:hover {
    color: #EF8354;
}

.auth-logo { 
    margin: 0px 20px 10px 20px;
    color: #EF8354;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
}

.auth-description { 
    font-size: 24px;
    margin: 10px 20px 5px 20px;
    font-family: 'Josefin Sans', cursive;
}

.opposite-auth-description { 
    color: #4f5d75b5;
    margin: 0px 20px 20px 20px;
    font-family: sans-serif;
}

.opposite-auth-link { 
    color: #EF8354;
    text-decoration: none;
    font-family: sans-serif;
}

.input-box-container { 
    display: flex;
    flex-direction: column;
    margin: 0px 20px 30px 20px;
    font-family: sans-serif;
}

.auth-input-label { 
    font-size: 13px;
    color: #4f5d75b5;
}

.input-field { 
    height: 32px;
    font-size: 18px;
    border: none;
    box-shadow: 0px 1px 0px #e3e3e3;
    transition-duration: 0.5s;
}

.input-field:focus { 
    outline: none;
    box-shadow: 0px 2px 0px #EF8354;
}

.auth-errors { 
    color: #ff6a6a;
    margin-top: 5px;
    font-size: 14px;
}

.login-buttons { 
    display: flex;
    margin: 0px 20px;
    justify-content: space-around;
}

.submit-auth-form { 
    background-color: #EF8354;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    height: 30px;
    width: 80px;
    /* align-self: flex-end; */
    align-self: center;
    /* margin-right: 10px; */
    font-size: 15px;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif;
}

.submit-auth-form:hover { 
    background-color: rgb(175, 95, 61);
}

.submit-auth-form:focus {
    outline: none;
}

@media only screen and (max-width: 480px) { 
    .auth-form-page { 
        background-color: #FFFFFF;
    }

    .auth-form-container { 
        box-shadow: none;
        height: 100vh;
        justify-content: center;
    }

    .auth-close-button {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

@media only screen and (max-width: 320px) { 
    .opposite-auth-description {
        margin: 0px 40px 20px 20px;
        line-height: 1.2; /* same as 120% */
    }
}