/* Possible MERN 5 */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@531&display=swap");
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.splash-nav { 
    height: 69px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
} 

.splash-nav-link  {
    font-family: 'Josefin Sans', cursive;
    text-decoration: none;
    color: black;
    margin: 0px 20px;
    font-size: 16px;
}

#splash-huddleup { 
    font-family: 'Josefin Sans', cursive;
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    font-size: 16px;
    cursor: default;
}

#login:hover,
#signup:hover { 
    color: white;
}

.auth-nav { 
    display: flex; 
    align-items: center;
}

.top-banner { 
    background-color: #EF8354;
    width: 100%;
    height: 614px;
    /* padding-left: 110px; */
    /* padding-top: 140px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-banner-text { 
    background-color: transparent;
    height: 355.5px;
    width: 410px;
    font-size: 20px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 0px 6px;
}

.main-phrase { 
    font-family: 'Work Sans', sans-serif;
    font-size: 55px;
    color: black;
}

.main-phrase-caption { 
    color: #FFFFFF;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

.signup-splash-button { 
    height: 50px;
    width: 170px;
    background-color: #2D3142;
    text-align: center;
    padding: 17px 0px;
    border-radius: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.signup-splash-button:hover { 
    background-color: #434963;
}

.signup-splash-button-text { 
    text-decoration: none;
    color: #EF8354;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.signin-splash-text { 
    font-size: 16px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.signin-splash-link { 
    font-size: 16px;
    color: #2D3142;
    font-family: Arial, Helvetica, sans-serif;
}

.top-banner-not-the-nav { 
    display: flex;
    justify-content: space-around;
}

.top-banner-picture { 
    width: 400px;
}

.bottom-half-of-splash { 
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-is-huddleup { 
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
    margin: 30px 0px;
    color: #2D3142;
    text-align: center;
}



.huddleup-is { 
    display: grid;
    /* grid-template-columns: 350px 350px; */
    grid-template-columns: 40vw 40vw;
    grid-template-rows: auto auto;
    column-gap: 60px;
    row-gap: 60px;
    padding: 50px 0px;
}

/* .huddleup-is-one { 
    background-color: #9B5DE5;
}

.huddleup-is-two { 
    background-color: #F15BB5;
}

.huddleup-is-three { 
    background-color: #00BBF9;
}

.huddleup-is-four { 
    background-color: #00F5D4;
} */

/* .huddleup-is-one, 
.huddleup-is-two,
.huddleup-is-three,
.huddleup-is-four { 
    background-color: #ffffff;
    transition-duration: 0.5s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px; */
    /* box-shadow: 0px 0px 10px #c5c5c5; */
    /* border: 1px solid #c7c7c7; */
/* } */

.huddleup-is > div { 
    background-color: #ffffff;
    transition-duration: 0.5s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

/* .huddleup-is > div:hover { 
    box-shadow: 0px 0px 10px red;
    transform: scale(1.1);
} */

.huddleup-is-bottom-text-pic { 
    max-height: 300px;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
}

.huddleup-is-bottom-text-pic-except {
    max-height: 300px;
    width: 100%;
    max-width: 300px;
}

.huddleup-is-bottom-text { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.huddleup-is-bottom-text h2 { 
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    text-align: center;
}

.huddleup-is-bottom-text p { 
    color: #BFC0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 20px 0px;
    line-height: 1.4;
}

.signup-bottom-button { 
    height: 50px;
    width: 170px;
    background-color: #EF8354;
    text-align: center;
    padding: 17px 0px;
    border-radius: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.signup-bottom-button:hover { 
    background-color: rgb(196, 107, 69);
}

.signup-bottom-button-text { 
    text-decoration: none;
    color: #2D3142;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
}

/* 768, 480, 320 for responsive sizes */
@media only screen and (max-width: 768px) { 
    .huddleup-is { 
        display: flex;
        flex-direction: column;
        padding: 5vw 0;
        width: 70%;
    }

    .huddleup-is > div { 
        margin: 80px 0px;
    }

    .top-banner-picture { 
        width: 32vw;
    }

    .main-phrase { 
        font-size: 240%;
        text-align: center;
        margin-bottom: 15px;
    }

    .main-phrase-caption { 
        font-size: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .top-banner-text {
        justify-content: flex-end;
        width: 90%;
        align-items: center;
    }

    .top-banner-not-the-nav { 
        flex-direction: column;
        align-items: center;
    }

    .signup-div { 
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 480px) { 
    .main-phrase { 
        font-size: 200%;
    }

    .splash-nav-link { 
        margin: 0px 10px;
    }
}

@media only screen and (max-width: 320px) {
    .main-phrase-caption { 
        font-size: 85%;
    }

    .what-is-huddleup { 
        font-size: 24px;
    }

    .splash-nav-link { 
        margin: 0px 10px;
    }
}