.activity-index {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin-top: 15px;

    border-radius: 5px;

    overflow: auto;
}

.activity-index-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--orange-color);
}

.activity-title {
    font-family: 'Ramabhadra', sans-serif;
    font-size: 25px;
    padding-bottom: 50px;
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
}

.activity-date {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    color: var(--orange-color);
    margin-bottom: 8px;
}

.activity-desc {
    font-family: 'Hind Siliguri', sans-serif;
    margin-bottom: 15px;
}

.see-more-button { 
    height: 30px;
    width: 150px;
    background-color: var(--orange-color);
    text-align: center;
    padding: 7px 0px;
    border-radius: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.see-more-button:hover { 
    background-color: #434963;
    color: white;
}

.see-more-text { 
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    transition-duration: 0.5s;
}

.see-more-text:hover {
    color: white;
}