.search-container {
  display: flex;
  flex-direction: row;
}

.header-text {
  font-family: 'Josefin Sans', cursive;
  margin-left: 50px;
}

.sport-type {
  font-size: 3.5em;
  font-weight: 900;
  margin-left: 20px;
  margin-top: 10px;
}

.map-half {
  min-width: 55vw;
  height: 100vh;
  display: flex;
  padding-top: 9vh;
}

.right-half {
  padding-top: 70px;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.time-dropdown {
  /* background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #EF8354;
  border-radius: 1.25rem;
  color: #EF8354;

  font-size: 1em;
  height: 50x;
  line-height: 1.5;
  width: 100%; */


  border: none;
  border: 1px solid #EF8354;
  background-color: #ef825414;
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  color: #EF8354;
  background-clip: padding-box;
}

.day-dropdown {
  border: 1px solid #EF8354;
  background-color: #ef825414;
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  color: #EF8354;
  background-clip: padding-box;
}

.filter-date {

  border: 1px solid #EF8354;
  background-color: #ef825414;
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  color: #EF8354;
}

.filter-container {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: right;
}

.filter-header {
  font-size: 1.6rem;
  font-weight: 100;
  font-family: 'Josefin Sans', cursive;
}

.reset-filters {
  border: 1px solid #EF8354;
  background-color: #ef825414;
  color:#EF8354;
  border-radius: 5px;
}

.reset-filters:hover {
  cursor: pointer;
}